{%extends "basetemplate.html"%}


{% block title %}
    <title>Cadastro Título</title>
{% endblock %}


        <title>Django - Exercícios</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        
        <!-- <script src="js/aula17.js" defer></script> -->
        <link href="../css/meu-estilo.css" rel="stylesheet">
    </head>
{% block menu %}

            <!-- menu -->
            <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
                <div class="navbar-nav">
                    <a href="/" class="nav-link">Início</a>
                   <a href="{% url 'titulo:cadastrar' %}" class="nav-link">Cadastrar</a>
                    <a href="{% url 'titulo:listar' %}" class="nav-link">Listar</a>
                </div>
            </div>
        </nav>
     {% endblock %}
        <div class="container text-center border-bottom border-primary text-center bg-light">    
            <div class="row mt-5">
                <div class="col">
                    <h1>Cadastro de Títulos</h1>
                </div>  
            </div>
        </div>
    </header>
 {%block corpo%}
    <main class="container m-2 w-75 mx-auto">
        <form action="#" method="POST" name="frmCadastrarTitulo" id="idFrmCadastrarTiposAtividade">
            <div class="form-group">
                <label for='idDescricao'>Descrição</label>
                <input class="form-control" type='text' id='idDescricao' name='descricao' placeholder='Informe a descrição' required>
            </div>
            <div class='form-group text-center'>
                <input type='reset'  value='Limpar' class='btn btn-primary btn-md'>
                <input type='submit' value='Cadastrar' class='btn btn-primary btn-md' id="btnCadastrarTiposAtividade">
            </div>
        </form>
    </main>
     {% endblock %}
</body>
